body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/mooning.png");
    font-family: 'Lato', sans-serif;

}

#gifs-appear-here {
    display: inline-block;
    float: left;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;

   
}

button {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-size: 15px;
    background: #60d178;
    color: black;
    font-family: 'Lato', sans-serif;


}

button:hover {
    opacity: 0.3;
	filter: alpha(opacity=30);

}

.gif:hover {
    opacity: 0.3;
	filter: alpha(opacity=30);
}

#add-animal {
    font-family: 'Lato', sans-serif;
}

#animal-input {
    font-family: 'Lato', sans-serif;

}
