body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/mooning.png");
}

#gifs-appear-here {
    display: inline-block;
    float: left;
    margin-right: 5px;
   
}

button {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-size: 15px;
    background: #60d178;
    color: black;

}

button:hover {
    opacity: 0.3;
	filter: alpha(opacity=30);

}

.gif:hover {
    opacity: 0.3;
	filter: alpha(opacity=30);
}
